@import "tailwindcss/base";

@import "tailwindcss/components";
@import "components.css";

@import "tailwindcss/utilities";
@import "utilities.css";

table th, table td, table.link-pad td a {
  min-height:100px;
  @apply py-3 px-6 align-middle;
}

table.link-pad a {
  @apply block flex items-center;
}

table.link-pad tr:hover a {
  @apply bg-gray-50;
}

table.link-pad td {
  @apply px-0 py-0;
}



.bounce {
  -webkit-animation: bounce 2s;
  animation: bounce 2s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

@-webkit-keyframes bounce {
  0%,
  25%,
  50%,
  75%,
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }
  60% {
    -webkit-transform: translateY(-12px);
    transform: translateY(-12px);
  }
}

@keyframes bounce {
  0%,
  25%,
  50%,
  75%,
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }
  60% {
    -webkit-transform: translateY(-12px);
    transform: translateY(-12px);
  }
}

.rotatey {
  -webkit-animation: rotateY 1s infinite linear;
  animation: rotateY 1s infinite linear;
}

@-webkit-keyframes rotateY {
  to { -webkit-transform: rotateY(360deg); }
}
@keyframes rotateY {
  to { transform: rotateY(360deg); }
}

.tabs .tab a {
  @apply block p-3 bg-gray-100 text-xs uppercase border-r-1 border-b-1 border-gray-200;
}

.tabs .tab a.active {
  @apply bg-gray-200 font-bold;
}
