<div class="flex-1 h-screen bg-gray-200 overflow-y-scroll relative">
  <div class="absolute left-0 top-0 z-40">
    <LinkTo class="btn btn-blue m-2" @route="u.orders" model={{this.shopid}}><FaIcon @icon="angle-double-left"></FaIcon> &nbsp;Back</LinkTo>
  </div>
  <div class="absolute right-0 top-0 z-40">
    <LinkTo class="btn btn-gray m-2" @route="u.order" @model={{this.order.id}}>Full Screen &nbsp;<FaIcon @icon="external-link-alt"></FaIcon></LinkTo>
  </div>

  <div class="container">
    <OrderPanel @order={{this.order}}></OrderPanel>
  </div>

  <style>
    table .table__owner, table .table__order {
      display:none;
    }
  </style>

</div>