{{#each this.orders as |order|}}
  {{log order}}
{{/each}}

<div class="h-screen bg-gray-200">
  <div class="container mx-auto">
    <OrdersPanel
        @query={{this.orderQuery}}
        @eventInstance={{this.eventInstance}}
        @title="Orders"
        @commandType="order-confirmed,order-processing,order-refunded"
        @backRoute="index"
    />
  </div>
</div>

{{outlet}}