<div class="flex-1 h-screen bg-gray-200 overflow-y-scroll relative">
  <div class="container">
    <OrderPanel @order={{this.order}}></OrderPanel>
  </div>

  <style>
    table .table__owner, table .table__order {
      display:none;
    }
  </style>
</div>