<div class="flex">
  <div class="flex-1 h-screen bg-gray-200 border-r-gray-200 border-r-2 overflow-y-scroll">
    <OrdersPanel
        @query={{this.orderQuery}}
        @eventInstance={{this.eventInstance}}
        @title="Orders"
        @commandType="order-confirmed,order-processing,order-refunded"
        @backRoute="index"
    />
  </div>

  {{outlet}}
</div>

<style>
  body{ overflow-hidden; }
</style>