<ul>
  {{#each this.items as |item|}}
    <li>
      {{log item}}123
      {{item.ticketDetails.name}}
    </li>
  {{/each}}
  {{#if (gt @items.length this.truncatedItems.length)}}
    <li><small>+{{this.numberNotDisplayed}} more</small></li>
  {{/if}}
</ul>